language:
  - php
php:
  - "5.6"
  - "5.5"
  - "5.4"
  - "5.3"
before_install:
  - gem install sass
install:
  - npm install
  - grunt install
script:
  - grunt package
after_success:
    "curl --ftp-create-dirs -T dist/LazyCMS-*.zip -u $FTP_USER:$FTP_PASSWORD ftp://${FTP_HOST}/${FTP_PATH}"
branches:
  only:
    - master
notifications:
  email:
    on_success: change
    on_failure: always
  webhooks:
    urls:
      - $WEBHOOK_URL
    on_success: always
    on_failure: never
    on_start: false